vendor
.DS_Store
.idea
node_modules
*.zip
composer.lock
tmp
themes/*
plugins/*
fonts/*
wordpress
docs
build

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.phpunit.cache
phpunit.xml.bak
/coverage/
