.dkpdf-item {
	text-align: center;
	width:89%;
	padding:5%;
	float:left;
	border:solid 1px #CCC;
	margin-right:0;
	margin-top:2.5%;
	background:#FFF;
}

.dkpdf-item h3 { font-size:180%;}
.dkpdf-item p { font-size:130%;}

#editor {
	height:300px;
}

#dkpdf_settings .checkbox_multi {
	margin-right: 10px;
	margin-bottom: 15px;
	display: inline-block;
}

.nav-tab-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.dkpdf-nav-links {
	margin-left: auto;
	padding: 0 10px;
	font-size: 0.85rem;
}

.dkpdf-nav-links a {
	text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
}

.dkpdf-nav-links a:hover {
	text-decoration: underline;
}

.select2 {
    width:600px !important;
}

.select2-selection__choice {
    padding-left:25px !important;
    padding-right: 10px !important;
}

@media (max-width: 1400px) {
	.nav-tab-wrapper {
		justify-content: flex-start;
	}

	.dkpdf-nav-links {
		order: -1;
		margin-left: 0;
		margin-bottom: 10px;
		flex-basis: 100%;
	}

    .select2 {
        width:100% !important;
    }
}

@media only screen and (min-width: 996px) {
	.dkpdf-item {
		width:29%;
		padding:5%;
		margin-right:5%;
		margin-top:2.5%;
	}

	#editor {
		height:400px;
	}
}
