name: Build package

on: workflow_dispatch

jobs:
  package:
    runs-on: ubuntu-latest

    name: Build package
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Unzip
        run: unzip dk-pdf.zip -d dist

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: dk-pdf.zip
          path: dist/
